@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import './Variables.scss';

body {
  margin: 0;
  padding: 0;
  font-family: pt-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: $font-size-base * 1.09;
  -webkit-font-smoothing: antialiased;

  @media(min-width: 768px) {
    font-size: $font-size-base;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.dark {
  h1,
  h2 {
    color: $dark-header-color;
  }

  h3,
  h4,
  h5,
  h6 {
    color: $purple;
  }
}

.light {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $light-header-color;
  }
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.45em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1.1em;
}

h6 {
  font-size: 1em;
}

#app {
  padding: 0 0 60px;
  width: 100%;
  min-height: calc(100vh);

  &.dark {
    background: $dark-body-bg;
    color: #fff;
  }

  &.light {
    background-color: #fff;
    color: $light-text-color;
  }
}

section.view {
  margin-top: 40px;
}

.navbar {
  margin-bottom: 10px;

  &.navbar-light {
    .navbar-nav {
      .nav-link {
        color: $dark-text-color;
      }
    }
  }
}

.dark {
  .navbar {
    &.navbar-light {
      .navbar-nav {
        .nav-link {
          color: $dark-text-color;
        }
      }
    }
  }
}

.light {
  .navbar {
    &.navbar-light {
      .navbar-nav {
        .nav-link {
          color: $light-text-color;
        }
      }
    }
  }
}

.btn.disabled {
  &:active,
  &:focus,
  &:hover,
  &:visited {
    cursor: not-allowed;
  }
}

.btn {
  border-radius: $border-radius-btn;
  padding: 0.4rem 1.4rem;
  font-weight: 600;

  &.btn-sm {
    padding: 0.3rem 0.85rem;
    border-radius: $border-radius-btn;
    font-size: 1rem;
    line-height: 1.5;

    &:focus {
      outline: 0;
      box-shadow: none;
    }
  }

  &:focus {
    outline: 0;
    box-shadow: none;
  }
}

.dark {
  .btn:active,
  .btn:focus,
  .btn:hover,
  .btn:visited {
    background-color: lighten($purple-med, 3%);
    border-color: lighten($purple-med, 3%);
    color: #fff;
  }

  .btn.disabled {
    &:active,
    &:focus,
    &:hover,
    &:visited {
      background-color: $purple-med;
      border-color: $purple-med;
    }
  }

  .btn {
    color: #fff;
    background-color: $purple-med;
    border-color: $purple-med;
  }
}

.light {
  .btn:active,
  .btn:focus,
  .btn:hover,
  .btn:visited {
    background-color: lighten($purple-med, 5%);
    border-color: lighten($purple-med, 5%);
    color: white;
  }

  .btn.disabled {
    &:active,
    &:focus,
    &:hover,
    &:visited {
      background-color: rga(140, 140, 140);
      border-color: rga(140, 140, 140);
    }
  }

  .btn {
    color: white;
    background-color: $purple-med;
    border-color: $purple-med;
  }
}
