@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import './Variables.scss';

body {
  padding-top: 60px;
  font-family: 'Roboto';
  font-size: 16px;

  &.dark {
    background: $body-dark-bg;
    color: #fff;
  }

  &.light {
    background-color: #fff;
    color: #333;
  }
}

.btn.disabled {
  &:hover,
  &:active,
  &:visited,
  &:focus {
    cursor: not-allowed;
  }
}

.btn {
  border-radius: 0;

  &.btn-sm {
    padding: 0.3rem 0.65rem;
    font-size: 0.9rem;
    line-height: 1.5;
  }

}


.dark {
  .btn:hover,
  .btn:active,
  .btn:visited,
  .btn:focus {
    background-color: lighten($gray-dark, 10%);
    border-color: lighten($gray-dark, 10%);
    color: white;
  }

  .btn.disabled {
    &:hover,
    &:active,
    &:visited,
    &:focus {
      background-color: $gray-dark;
      border-color: $gray-dark;
    }
  }

  .btn {
    color: white;
    background-color: $gray-dark;
    border-color: $gray-dark;
  }
}

.light {
  .btn:hover,
  .btn:active,
  .btn:visited,
  .btn:focus {
    background-color: lighten($gray-light, 5%);
    border-color: lighten($gray-light, 5%);
    color: white;
  }

  .btn.disabled {
    &:hover,
    &:active,
    &:visited,
    &:focus {
      background-color: rga(140, 140, 140);
      border-color: rga(140, 140, 140);
    }
  }

  .btn {
    color: white;
    background-color: $gray-light;
    border-color: $gray-light;
  }
}
