//-----------------------------------------------
// Global Variables
//-----------------------------------------------

// colors
$purple:                                  #8991fa;
$purple-med:                              #676EC9;
$green:                                   #5AC848;
$red:                                     #E73225;
$gray:                                    #66676B;
$orange:                                  #FC5423;
$magenta:                                 #E874F8;

// font size base
$font-size-base:                             17px;

// border-radius
$border-radius:                                 0;
$border-radius-btn:                          30px;


//-----------------------------------------------
// Dark Theme Variables
//-----------------------------------------------

// colors
$dark-blue:                               #191C2C;
$dark-gray-light:                         #C1C2C6;
$dark-gray:                               #494C5B;
$dark-gray-dark:                          #353845;
$dark-white-med:                          #F5F6F8;

// background
$dark-body-bg:                         $dark-blue;

// headers and text
$dark-header-color:                       #FFFFFF;
$dark-text-color:        lighten($dark-blue, 75%);

// activity
$dark-group-bg:                        $dark-blue;
$dark-pane-bg:            lighten($dark-blue, 5%);
$dark-pane-border:       lighten($dark-blue, 10%);

// price chart
$dark-chart-text:                         #FFFFFF;
$dark-chart-lines:                        #888888;
$dark-chart-curve:                        #555555;
$dark-chart-points:                  $purple;

// candle builder controls
$dark-slide-bg:                        $dark-blue;
$dark-slide-handle:      lighten($dark-blue, 60%);



//-----------------------------------------------
// Light Theme Variables
//-----------------------------------------------

// colors
$light-blue-dark:                         #152879;
$light-gray-dark:                         #444444;
$light-gray-med:                          #40455A;
$light-gray-light:                        #EAEAEA;

// headers and text
$light-header-color:             $light-blue-dark;
$light-text-color:               $light-gray-dark;

// activity
$light-group-bg:                          #FFFFFF;
$light-group-border:                      #BBBBBB;
$light-pane-bg:                           #FCFCFC;
$light-pane-border:                       #BBBBBB;

// price chart
$light-chart-text:                        #333333;
$light-chart-lines:                       #999999;
$light-chart-curve:                       #BBBBBB;
$light-chart-points:              $light-gray-med;

// candle builder controls
$light-slide-bg:                          #CCCCCC;
$light-slide-handle:                      #777777;

$gray-light:                              #7E8195;
